.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.products-page-h1 {
  text-align: center;
}

.product-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-table-header {
    margin-top: 50px;
    width: 70%;
    height: 51px;
    background-color: rgb(157, 183, 201);
}

.product-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.product-row {
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
}

.product-row-h1 {
  font-size: 14px;
}

.outofstock {
  color: red;
}